body {
    background-color: pink;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .mbody-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .content-section {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .image-section {
    flex: 1; /* Occupies 50% of the width */
    padding: 10px;
  }
  
  .content {
    flex: 1; /* Occupies 50% of the width */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .imagesec {
    width: 100%;
    height: auto;
  }
  
  .form-section-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .form-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .toggle-switch {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .subscription-options, .one-time-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .subscription-options button, .one-time-options button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
  }
  
  .subscription-options button:hover, .one-time-options button:hover {
    background-color: #0056b3;
  }
  
  .button-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: auto;
  }
  
  .btn-pay {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-pay:hover {
    background-color: #0056b3;
  }
  